# Python / Django
*.pyc
__pycache__/
*.sqlite3
*.db
backend/media/*
!backend/media/.gitkeep
backend/staticfiles/*
.env
.env.*
*.env
backend/.env
frontend/.env
!*.env.example
!backend/.env.example
!frontend/.env.example
.venv
venv/

# Node / React
node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# Docker & IDEs
.idea/
.vscode/
*.swp
.DS_Store
